<div class="window" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1530064161350-7824b8cdeee9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80)";>
  <div class="container-lg">
    <div class="left-window container col-6">
      <div>
        <h1>Mix up the colors of the sky.</h1>
        <p>Because anything tastes better with a view.</p>
        <div class="cta mt-5">
         <%= link_to 'Find your mix', new_cocktail_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>

</div>

 <div class="container mt-5">
    <h2><strong>Our Mixes</strong></h2>
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key %>')">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category"> <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
    </div>
  </div>


