.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 18px;
  font-family: Open Sans;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
