.navbar {
  justify-content: space-between;
  font-size: 18px;
  font-family: Open Sans;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
