.window {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding: 150px 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
  background-repeat:no-repeat;
  height: 880px;
}

.display {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.form {
  justify-self: center;
}

.ingredients p{
  font-size: 16px;
}

.left-window {
  padding-left: 10px;
  padding-top: 230px;
  margin-right: 50px;
}

.cocktail-content {
  background-color: #15526c;
  color: white;
  box-shadow: 10px 10px 0 white;
}

.cocktail-content h3 {
  font-size: 24px;
}

.cocktail-content p {
  font-size: 16px;
}

.recipe p{
  font-size: 12px;
  line-height: 1px;
}

.ingredients {
  font-size: 15px;
}

